<%= form_with model: @post, local: true do |f| %>
  <table>
    <tr>
      <th><%= f.label :post_name ,"タイトル" %></th>
      <td><%= f.text_field :post_name %></td>
    </tr>

    <tr>
      <th><%= f.label :url ,"URL" %></th>
      <td><%= f.text_field :url %></td>
    </tr>

    <tr>
      <th><%= f.label :comment ,"コメント" %></th>
      <td><%= f.text_area :comment %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "登録完了する"%></li>
      <li><%= link_to "投稿一覧に戻る", :posts %></li>
    </ul>
  </div>
<% end %>
